# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native folders (Expo Prebuild)
android/
ios/

# Metro
.metro-health-check*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# Certificates / Keys
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# TypeScript
*.tsbuildinfo

# Kotlin
.kotlin/

# macOS
.DS_Store

# Windows
Thumbs.db

# Temporary files
*.orig.*